a {
    cursor: pointer;
}

.help-block {
    font-size: 12px;
}

.btn-link {
  font-size: 20px;
}

.panel {
 padding: 20px;
}

.carregando {
  position:fixed;
  top:50%;
  left:50%;
  margin-top:-100px;
  margin-left:-125px;
  }
